.footer-banner {
    height: 21vh;
    background-color: rgb(235, 245, 250);
    background-image: linear-gradient(to left, rgb(255, 255, 255) , rgb(157, 255, 255));
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
    
  }

  .footer-banner img{
    height: 100%;
    max-width: 100%;
    min-width: 200px; 
    width: auto;
    display: block;
    margin: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  }
          

  @media (max-width: 700px) {
    .footer-banner {    
        width: 80%;
    }
    
  }
  
  @media (max-width: 480px) {
    .footer-banner { 
        width: 100%;
    }
  }

 
  

  
  